* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 5%;
	background-color: #EEE; /*Cor de fundo deve ser removida quando a imagem de fundo for escolhida*/
}

picture {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

picture > img {
	width: 100%;
	height: 100%;
}

h1 {
	position: relative;
	padding: 16px 40px;
	flex: 1;
	flex-basis: 70px;
  flex-grow: 0;
  flex-shrink: 0;
	border-radius: 10px 10px 0 0;
	border: 2px solid #25457F;
	background-color: #25457F;
	color: #FFF;
	font-family: 'Droid sans', sans-serif;
	font-size: 28px;
}

main {
	position: relative;
	flex: 1;
	background: rgba(255,255,255,0.5);
  box-shadow: 0 1px 2px rgba(204,204,204,0.5);
	border-radius: 0 0 10px 10px;
	border-right: 2px solid rgba(204,204,204,0.5);
	border-left: 2px solid rgba(204,204,204,0.5);
	border-bottom: 2px solid rgba(204,204,204,0.5);
}